body {
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    background-color: #222;
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.crud {
    width: 80%;
    margin:  auto;
}
.crud .head {
    text-align: center;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.5px;
    margin: 10px 0;
}
input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    margin: 4px 0px ;
    border-radius: 4px;
    padding: 30px;
    color: white;
}
input:focus {
    background-color: #000;
    transform: scale(1.1);
}
input::placeholder{
    color: white;
}
.price input {
    width: 20%;
}
#total {
    background-color: #a00d02;
    padding: 5px 2px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
}
#total::before {
    content: "total : ";
}
button {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    padding: 5px 2px;
    background-color: #390053;
    color: white;
    border-radius: 20px;
    transition: 0.5s;
    text-transform: capitalize;
}
#btn-delete{
    margin: 20px 0px;
}

button:hover{
    background: #51025f;
    letter-spacing: 1px;
}
.search-button {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}
.search-button button {
    width: 45%;
}

table {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    color: white;
}
table th {
    text-transform: uppercase;
}
td,th {
    padding: 5px;
}
#tableBody {
    text-transform: capitalize;
    
}
#submit {
    margin: 3px 0px;
}

